Source: profitbricks-python-blockdevs
Section: python
Priority: extra
Maintainer: Frank Brehm <frank.brehm@profitbricks.com>
Build-Depends: debhelper (>= 7.0.50~),
               ghostscript,
               help2man,
               python-pb-base (>= 0.3.5),
               python-argparse,
               python-docutils,
               python-epydoc,
               python-support,
               texlive-latex-base,
               texlive-latex-extra
Standards-Version: 3.8.4
Vcs-Git: git+ssh://git.profitbricks.localdomain/srv/git/python/pb-blockdev.git
Vcs-Browser: http://git.profitbricks.localdomain/gitweb/?p=python/pb-blockdev.git;a=summary

Package: python-pb-blockdevs
Architecture: all
Depends: dmsetup,
         mount,
         python-pb-base (>= 0.3.5),
         python,
         python-argparse,
         python-support,
         ${misc:Depends}
Breaks: profitbricks-python-blockdevs (<< 0.2.3-2~)
Replaces: profitbricks-python-blockdevs (<< 0.2.3-2~)
Description: ProfitBricks python modules for blockdevice wrapper classes
 This package provides wrapper classes for different block devices
 found under /sys/block inon a Linux machine.

Package: python-pb-blockdevs-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: pdf-viewer,
          python-pb-blockdevs (= ${binary:Version}),
          www-browser
Breaks: profitbricks-python-blockdevs-doc (<< 0.2.3-2~)
Replaces: profitbricks-python-blockdevs-doc (<< 0.2.3-2~)
Description: ProfitBricks python modules for blockdevice wrapper classes - documentation
 This package provides wrapper classes for different block devices
 found under /sys/block inon a Linux machine.
 .
 This package contains the documentation in HTML and PDF format.

Package: profitbricks-python-blockdevs
Depends: python-pb-blockdevs (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: profitbricks-python-blockdevs-doc
Depends: python-pb-blockdevs-doc (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
