Source: profitbricks-python-blockdevs
Section: admin
Priority: extra
Maintainer: Frank Brehm <frank.brehm@profitbricks.com>
Build-Depends: debhelper (>= 7.0.50~),
               ghostscript,
               help2man,
               profitbricks-python-base (>=0.3.5-1),
               python-argparse,
               python-docutils,
               python-epydoc,
               python-support,
               texlive-latex-base,
               texlive-latex-extra
Standards-Version: 3.8.4
Vcs-Git: git+ssh://git.profitbricks.localdomain/srv/git/python/pb-blockdev.git
Vcs-Browser: http://git.profitbricks.localdomain/gitweb/?p=python/pb-blockdev.git;a=summary

Package: profitbricks-python-blockdevs
Architecture: all
Depends: dmsetup,
         mount,
         profitbricks-python-base (>=0.3.5-1),
         python,
         python-argparse,
         python-support,
         ${misc:Depends}
Description: ProfitBricks python modules for blockdevice wrapper classes
 .
 This package provides wrapper classes for different block devices
 found under /sys/block inon a Linux machine.

Package: profitbricks-python-blockdevs-doc
Architecture: all
Suggests: pdf-viewer,
          profitbricks-python-blockdevs (= ${binary:Version}),
          www-browser
Description: ProfitBricks python modules for blockdevice wrapper classes - documentation
 .
 This package contains the documentation in HTML and PDF format.
