#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BIN2_PKGNAME := python-pb-blockdev
BIN3_PKGNAME := python3-pb-blockdev
DOC_PKGNAME  := python-pb-blockdev-doc

INSTALL2_DIR := $(CURDIR)/debian/$(BIN2_PKGNAME)
INSTALL3_DIR := $(CURDIR)/debian/$(BIN3_PKGNAME)
DOC_DIR      := $(CURDIR)/debian/$(DOC_PKGNAME)/usr/share/doc/$(DOC_PKGNAME)

PYTHONS2     := $(shell pyversions -vr || true)
PYTHON3S     := $(shell py3versions -vr || true)

%:
	dh $@ --with python2,python3

override_dh_auto_build:
	@echo
	@echo "Building Python 2 stuff ..."
	@echo
	set -e && for pyvers in $(PYTHONS2); do python$$pyvers setup.py build; done
	@echo
	@echo "Building Python 3 stuff ..."
	@echo
	set -e && for pyvers in $(PYTHON3S); do python$$pyvers setup.py build; done

override_dh_auto_clean:
	@echo
	@echo "Cleaning ..."
	@echo
	dh_auto_clean

override_dh_auto_install:
	@echo
	@echo "Installing Python 2 stuff ..."
	@echo
	set -e && for pyvers in $(PYTHONS2); do python$$pyvers setup.py install --root=$(INSTALL2_DIR) --install-layout=deb; done
	@echo
	@echo "Installing Python 3 stuff ..."
	@echo
	set -e && for pyvers in $(PYTHON3S); do python$$pyvers setup.py install --root=$(INSTALL3_DIR) --install-layout=deb; done
	rm -vfr $(INSTALL3_DIR)/usr/bin
	@echo
	@echo "Documentation ..."
	@echo
	mkdir -p $(DOC_DIR)/html
	mkdir -p $(DOC_DIR)/pdf
	epydoc --html -v -o $(DOC_DIR)/html $(CURDIR)/pb_blockdev
	epydoc --pdf -o $(DOC_DIR)/pdf $(CURDIR)/pb_blockdev

override_dh_compress:
	dh_compress -X.py -X.pdf
